<%= form_for encounters_path, method: :get, remote: true do %>
  <div class="location-form">
    <h4 class="location">Location: </h4>
    <div id="location-select">
      <%= select_tag "location", 
          options_from_collection_for_select(@location_choices, "id", "name", (params[:location] || 3)) %>
    </div>
    <%= submit_tag "Go!", :class => 'btn', :id => "get-encounter" %>
  </div>
  <div class="expansion-filters">
    <h3>Select Expansions</h3>
    <div class="base-game">
      <%= hidden_field_tag('expansions[]', 1) %>
      <%= check_box_tag('expansions[]', 1, true, disabled: true) %>
      <%= content_tag :span, "Arkham Horror" %>
    </div>
    <%= expansion_check_boxes("large") %>
    <%= expansion_check_boxes("small") %>
    <%= expansion_check_boxes("other") %>
  </div>
<% end %>