<%= form_for encounters_path, :method => :get do %>
  <div class="select-location">
    <%= select_tag "location", 
        options_from_collection_for_select(Location.all, "id", "name", (params[:location] || 3)) %>
    <%= submit_tag "Go!", :class => 'btn' %>
  </div>
  <div class="expansion-filters">
    <h3>Select Expansions</h3>
    <h4>Base Game</h4>
    <div class="expansion-list">
      <%= hidden_field_tag('expansions[]', 1) %>
      <%= check_box_tag('expansions[]', 1, true, disabled: true) %>
      <%= content_tag :span, "Arkham Horror" %>
    </div>
    <h4>Large Box Expansions</h4>
    <% Expansion.large.each do |expansion| %>
      <div class="expansion-list">
        <%= check_box_tag 'expansions[]', expansion.id %>
        <%= content_tag :span, expansion.name %>
      </div>
    <% end %>
    <h4>Small box expansions</h4>
    <% Expansion.small.each do |expansion| %>
      <div class="expansion-list">
        <%= check_box_tag 'expansions[]', expansion.id %>
        <%= content_tag :span, expansion.name %>
      </div>
    <% end %>
  </div>
<% end %>